<header class="flex full">
    <nav class="nav-bar flex">
        <div class="links-container flex">
            <h1 routerLink="">Mister-Dex</h1>
            <ul class="flex">
                <a routerLinkActive="active" routerLink="/home" [routerLinkActiveOptions]="{exact: true}">
                    <li>Home</li>
                </a> 
                <a routerLinkActive="active" routerLink="/poke" [routerLinkActiveOptions]="{exact: true}">
                    <li>PokeDex</li>
                </a>
            </ul>
        </div>
    </nav>
</header>