<section class="filter flex">
    <input type="text" name="name" autocomplete="off" placeholder="Pokemon name..." [(ngModel)]="filterByCopy.name"
        (ngModelChange)="setFilter.emit(filterByCopy)">
    <label for="drop-down">Filter by type
        <select class="drop-down" name="types" [(ngModel)]="filterByCopy.type"
            (ngModelChange)="setFilter.emit(filterByCopy)">
            <option *ngFor="let type of types" [value]="type">
                {{type}}
            </option>
        </select>
    </label>
</section>