@import "../../../assets/style/setup/functions";
@import "../../../assets/style/setup/variables";

.home-page {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 74vh;
    background-color: lighten($clrb, $amount: 10%);
    padding: rem(20px);
    .img-container {
        max-width: 265px;
    }
    h1 {
        font-size: rem(26px);
        text-transform: capitalize;
    }
    .link:hover {
        background-color: lighten($clrr, $amount: 10%);
    }
}
