// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$mister-dex-primary: mat.define-palette(mat.$indigo-palette);
$mister-dex-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$mister-dex-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$mister-dex-theme: mat.define-light-theme(
  (
    color: (
      primary: $mister-dex-primary,
      accent: $mister-dex-accent,
      warn: $mister-dex-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($mister-dex-theme);

//SETUP
@import "./setup/variables";
@import "./setup/mixins";
@import "./setup/typography";
@import "./setup/functions";

//BASICS
@import "./basics/base";
@import "./basics/helpers";
@import "./basics/layout";

//COMPONENTS
@import "../../app/cmps/app-header/app-header.component";
@import "../../app/cmps/app-footer/app-footer.component";
@import "../../app/cmps/app-preview/app-preview.component";
@import "../../app/cmps/app-filter/app-filter.component";

//VIEWS
@import "../../app/pages/app-home/app-home.component";
@import "../../app/pages/mister-dex/mister-dex.component";
@import "../../app/pages/app-details/app-details.component";
@import "../../app/pages/app-edit/app-edit.component";

html,
body {
  height: 100%;
}
