@import "../../../assets/style/setup/variables";
@import "../../../assets/style/setup/functions";

.mister-dex {
    min-height: 68vh;
    background-color: lighten($clrb, $amount: 10%);
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr) );
}
