@import "../../../assets/style/setup/variables";
@import "../../../assets/style/setup/functions";

.mister-dex {
    min-height: 68vh;
    background-color: lighten($clrb, $amount: 10%);
    padding: rem(14px);
    
}
