* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: $fontR;
    color: $clrw;
    scroll-behavior: smooth;
}

body {
    background-color: lighten($clrb, $amount: 10%);
    min-height: 75vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $fontB;
}

.btn {
    font-family: inherit;
    font-size: inherit;
    background-color: $clrr;
    border: none;
    outline: none;
    cursor: pointer;
    color: inherit;
    min-height: rem(40px);
    min-width: rem(40px);
    border-radius: rem(15px);
    padding: rem(14px);
    transition: ease-in-out 0.25s;
}

a {
    outline: none;
    text-decoration: none;
    color: $clrw;
    &:visited {
        color: $clrw;
    }
}

img {
    width: 100%;
}

ul {
    list-style-type: none;
}
.type {
    color: darken($clrw, $amount: 16%);
    span {
        margin-inline-end: rem(14px);
        &.grass {
            color: #76c437;
        }
        &.poison {
            color: #924593;
        }
        &.bug {
            color: #aaba1f;
        }
        &.dragon {
            color: #7a62e4;
        }
        &.electric {
            color: #fcbf1a;
        }
        &.fighting {
            color: #86371f;
        }
        &.ghost {
            color: #7e7ec1;
        }
        &.flying {
            color: #93a5f1;
        }
        &.fire {
            color: #ed400e;
        }
        &.ground {
            color: #d4b256;
        }
        &.ice {
            color: #afebff;
        }
        &.normal {
            color: #c6c0b8;
        }
        &.psychic {
            color: #ef588d;
        }
        &.water {
            color: #3194f6;
        }
        &.rock {
            color: #b49c52;
        }
    }
}
