@import "../../../assets/style/setup/variables";
@import "../../../assets/style/setup/functions";

.pokemon {
    padding-block: rem(16px);
    min-height: 75vh;
    .content-container {
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(3, 1fr);
        .img-container {
            grid-column: 1/-1;
            grid-row: 1/2;
            justify-content: space-between;
            img {
                width: 100%;
            }
        }
        .details-container {
            grid-row: 2/3;
            grid-column: 1/4;
            h2 {
                font-size: rem(22px);
                text-transform: capitalize;
            }
            & > span {
                color: darken($clrw, $amount: 16%);
                margin-inline-end: rem(14px);
            }
            .type {
                color: darken($clrw, $amount: 16%);
                span {
                    margin-inline-end: rem(14px);
                    &.grass {
                        color: #76c437;
                    }
                    &.poison {
                        color: #924593;
                    }
                    &.bug {
                        color: #aaba1f;
                    }
                    &.dragon {
                        color: #7a62e4;
                    }
                    &.electric {
                        color: #fcbf1a;
                    }
                    &.fighting {
                        color: #86371f;
                    }
                    &.ghost {
                        color: #7e7ec1;
                    }
                    &.flying {
                        color: #93a5f1;
                    }
                    &.fire {
                        color: #ed400e;
                    }
                    &.ground {
                        color: #d4b256;
                    }
                    &.ice {
                        color: #afebff;
                    }
                    &.normal {
                        color: #c6c0b8;
                    }
                    &.psychic {
                        color: #ef588d;
                    }
                    &.water {
                        color: #3194f6;
                    }
                    &.rock {
                        color: #b49c52;
                    }
                }
            }
        }
        .stats-container {
            grid-row: 3/4;
            grid-column: 1/4;
            *:not(:first-child) {
                color: darken($clrw, $amount: 16%);
            }
        }
        .btn-container {
            flex-direction: column;
            grid-column: 4/6;
            grid-row: 2/4;
            align-self: center;
            .edit {
                margin-block: rem(32px);
                background-color: $clrb;
                transition: ease-in-out 0.2s;
                &:hover {
                    background-color: lighten($clrb, $amount: 5%);
                }
            }
            .back {
                background-color: $clrb;
                transition: ease-in-out 0.2s;
                &:hover {
                    background-color: lighten($clrb, $amount: 5%);
                }
            }
            .delete {
                transition: ease-in-out 0.2s;
                &:hover {
                    background-color: lighten($clrr, $amount: 10%);
                }
            }
        }
    }
}
