@import "../../../assets/style/setup/variables";
@import "../../../assets/style/setup/functions";

.pokemon {
    padding-block: rem(16px);
    .content-container {
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, 1fr);
        .img-container {
            grid-column: 1/-1;
            grid-row: 1/2;
            justify-items: center;
            align-items: center;
            grid-template-columns: repeat(auto-fit, minmax(200px, auto));
            img {
                object-fit: cover;
            }
            .shiny-front,
            .shiny-back,
            .normal-front,
            .normal-back {
                width: 100%;
            }
        }
        .details-container {
            grid-row: 2/3;
            grid-column: 1/4;
            h2 {
                font-size: rem(22px);
                text-transform: capitalize;
                &:last-of-type {
                    margin-block-start: rem(15px);
                }
            }
            & > span {
                color: darken($clrw, $amount: 16%);
                margin-inline-end: rem(14px);
            }
        }

        .btn-container {
            flex-direction: column;
            grid-column: 4/6;
            grid-row: 2/3;
            * {
                margin-block-start: rem(10px);
            }
            .edit {
                background-color: $clrb;
                transition: ease-in-out 0.2s;
                &:hover {
                    background-color: lighten($clrb, $amount: 5%);
                }
            }
            .back {
                background-color: $clrb;
                transition: ease-in-out 0.2s;
                &:hover {
                    background-color: lighten($clrb, $amount: 5%);
                }
            }
            .delete {
                transition: ease-in-out 0.2s;
                &:hover {
                    background-color: lighten($clrr, $amount: 10%);
                }
            }
        }
    }
    @media screen and(max-width: $narrow-breakpoint) {
        .content-container {
            grid-template-rows: repeat(auto, 250px);
            grid-template-columns: repeat(1, 1fr);
            align-items: center;
            .btn-container {
                grid-column: 1/6;
                grid-row: 3/4;
                flex-direction: row;
                button,
                button.edit {
                    width: 100%;
                    margin-inline-end: rem(10px);
                }
            }
        }
    }
    @media screen and(max-width: $mobile-breakpoint) {
        .content-container {
            display: flex;
            flex-direction: column;
            .img-container {
                display: flex;
                flex-direction: column;
                width: 100%;
            }
            .btn-container {
                margin-block-start: rem(8px);
                width: 100%;
                flex-direction: column;
            }
        }
    }
}
