// Colors
$clrw: #f1eeee;
$clrb: #1e2020;
$clrr: #db0c2c;

//Fonts
$fontB: Poppins-Bold;
$fontM: Poppins-Medium;
$fontR: Poppins-Regular;

//Box shadows
$boxShadow1: rgba(149, 157, 165, 0.2) 0px 8px 24px;

// Breakpoints
$mobile-breakpoint: 550px;
$narrow-breakpoint: 740px;
$normal-breakpoint: 1280px;
